/* Footer.css */

.footer {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    text-align: left;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; /* Добавлено для адаптивности */
  }
  
  .footer-left {
    flex: 1;
  }
  
  .footer-signature h2 {
    font-size: 24px;
    margin-bottom: 5px;
    color: #fff;
  }
  
  .footer-signature p {
    font-size: 16px;
    color: #aaa;
  }
  
  .footer-right {
    flex: 2;
    text-align: right;
  }
  
  .footer-contact h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .footer-contact p {
    margin: 5px 0;
    font-size: 16px;
    color: #ccc;
  }
  
  .footer-social {
    margin-top: 20px;
    text-align: right;
  }
  
  .footer-social a {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .footer-social img {
    width: 30px; /* Размер иконок соцсетей */
    height: 30px;
    transition: transform 0.3s ease;
  }
  
  .footer-social img:hover {
    transform: scale(1.1); /* Небольшое увеличение при наведении */
  }
  
  .footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #333;
    padding-top: 20px;
    font-size: 14px;
    color: #666;
    text-align: center;
  }
  
