/* Hero.css */

/* .hero-pic {
    z-index: 0;
    width: 56%;
    margin-bottom: 73px;
    padding-left: 0;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: auto;
    right: 0%; 
} */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    height: 100vh;
    background-color: #D9D5D2;
    /* background-color: #f4f4f4; Цвет фона секции */
}

.hero-content {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.hero-text {
    flex: 1;
    padding-right: 20px; /* Отступ справа от текста */
}

.hero h1 {
    font-family: Eudoxussans, sans-serif;
    font-weight: 700;
    letter-spacing: -.03em;
    font-size: 42px;
    margin-bottom: 20px;
    color: #023059;
    /* color: #333; */
}

.hero p {
    font-size: 20px;
    line-height: 1.6;
    color: #666;
    /* color: #023059; */
    margin-bottom: 30px;
}

.btn {
    background: #3B6D8C;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #555;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Можно добавить скругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для изображения */
}
